.navbar {
  background-image: linear-gradient(to right, #bdc3c7);
  margin-left: 250px  ;
}
.navbar-bg {
  background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
}

.navbar .navbar-nav li a::before{
  display: none;
}
body.sidebar-mini .navbar {
  left: 6px;
}




