.navbar {
  background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
  border-radius: 0%;
}
.navbar-bg {
  background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
}

.navbar .navbar-nav li a::before {
  display: none;
}
body.sidebar-mini .navbar {
  left: 6px;
}
.navbar {
  left: 0;
  right: 0;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
